@charset "utf-8";
/* 미디어 쿼리 */

/******** 1350px 이하 미디어쿼리 ********/
@media screen and (max-width:1350px) {

    /* 배경이미지 크기조절 */
    body {
        background: url(../img/acnh01.png) no-repeat scroll 30% 65%/500px,
            url(../img/acnh02.png) no-repeat scroll 78% 23%/380px,
            /* 왼쪽 */
            url(../img/acnh09.png) no-repeat scroll 2% 93%/160px,
            /* 오른쪽 */
            url(../img/acnh14.png) no-repeat scroll 98% 97%/160px,
            url(../img/bg.jpg) no-repeat scroll top/cover;
    }


    /* 전체 영역 축소 */
    #top,
    #main {
        width: 1200px;
    }

    /* 로고 위치 재설정 */
    .logo {
        margin-left: 0px;
    }

    /* BGM 위치 변경 */
    .bgm {
        margin-left: 665px;
    }

    .bgm .play a,
    .bgm .pause a {
        left: 0;
    }

    /* GNB 메뉴 위치 재설정 */
    .gnb {
        margin-left: 30px;
    }

    .dlc {
        margin-right: -20px;
    }

    /* 설명박스 배경 축소 */
    .cdes.desBg1 {
        background: url(../img/ctbg.jpg) no-repeat top;
        background-size: 215px 100%;
    }

    .cdes.desBg2 {
        background: url(../img/ctbg2.jpg) no-repeat top;
        background-size: 215px 100%;
    }

    .cdes.desBg3 {
        background: url(../img/ctbg3.jpg) no-repeat top;
        background-size: 215px 100%;
    }

    .cdes.desBg4 {
        background: url(../img/ctbg4.jpg) no-repeat top;
        background-size: 215px 100%;
    }

    /* 아이콘 위치 재배치 */
    .cdes::before {
        right: 70px;
    }

    /* 설명글 축소 */
    .cdes .mainSct {
        width: 190px;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

/******** 1200px 이하 미디어쿼리 ********/
@media screen and (max-width:1200px) {

    /* 전체 영역 축소 */
    #top,
    #main,
    .cont {
        width: 1100px;
    }

    /* 로고 위치 재설정 */
    .logo {
        transform: scale(.9);
        margin-left: -20px;
    }

    /* BGM 위치 변경 */
    .bgm {
        margin-left: 535px;
    }

    .bgm .play a,
    .bgm .pause a {
        left: 0;
    }

    /* GNB 메뉴 위치 재설정 */
    .gnb {
        margin-left: 10px;
        width: 600px;
    }

    .gnb>ul {
        width: 539px;
    }

    .gnb>ul>li {
        float: left;
        padding: 0 18px;
    }

    .dlc {
        margin-right: -10px;
    }

    /* 아이콘 위치 재배치 */
    .cdes::before {
        right: 70px;
    }

    /* 설명글 축소 */
    .cdes .mainSct {
        width: 190px;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}


/******** 1000px 이하 미디어쿼리 ********/
@media screen and (max-width:1000px) {

    /* 전체 영역 축소 */
    #top,
    #main {
        width: 900px;
    }

    /* 로고 위치 재설정 */
    .logo {
        transform: scale(.8);
        margin-left: 0px;
    }

    /* BGM 위치 변경 */
    .bgm {
        margin-left: 535px;
    }

    .bgm .play a,
    .bgm .pause a {
        left: 0;
    }

    /* GNB 메뉴 위치 재설정 */
    .gnb {
        margin-left: -10px;
        width: 600px;
    }

    .gnb>ul {
        width: 539px;
    }

    .gnb>ul>li {
        padding: 0 18px;
    }

    .dlc {
        display: none;
    }

    .cont {
        width: 80%;
        margin-top: 100px;
        height: 600px;
        text-align: center;
    }

    .cbx {
        float: none;
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        vertical-align:top;
    }

    /* 아이콘 위치 재배치 */
    .cdes::before {
        right: 50px;
    }

    /* 설명글 축소 */
    .cdes .mainSct {
        width: 160px;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin: 20px;
        margin-top: 20%;
    }

    /* 설명글 내려옴 */
    .cbx:hover .cdes {
        height: 150px;
    }

    .cbx:first-child:hover .mainCt1 {
        margin-top: 0%;
    }

    .cbx:nth-child(2):hover .mainCt2 {
        margin-top: 0%;
    }

    .cbx:nth-child(3):hover .mainCt3 {
        margin-top: 0%;
    }

    .cbx:nth-child(4):hover .mainCt4 {
        margin-top: 0%;
    }

    .cbx:nth-child(5):hover .mainCt5 {
        margin-top: 0%;
    }

    /* 설명박스 배경 축소 */
    .cdes.desBg1 {
        background: url(../img/ctbg.jpg) no-repeat top;
        background-size: 190px 100%;
    }

    .cdes.desBg2 {
        background: url(../img/ctbg2.jpg) no-repeat top;
        background-size: 190px 100%;
    }

    .cdes.desBg3 {
        background: url(../img/ctbg3.jpg) no-repeat top;
        background-size: 190px 100%;
    }

    .cdes.desBg4 {
        background: url(../img/ctbg4.jpg) no-repeat top;
        background-size: 190px 100%;
    }
}

/******** 800px 이하 미디어쿼리 ********/
@media screen and (max-width:800px) {

    /* 전체 영역 축소 */
    #top,
    #main {
        width: 700px;
    }

    /* 배경이미지 크기조절 */
    body {
        background: url(../img/acnh01.png) no-repeat scroll 5% 65%/0px,
            url(../img/acnh02.png) no-repeat scroll 95% 23%/0px,
            /* 왼쪽 */
            url(../img/acnh09.png) no-repeat scroll 2% 93%/130px,
            /* 오른쪽 */
            url(../img/acnh14.png) no-repeat scroll 98% 97%/130px,
            url(../img/bg.jpg) no-repeat scroll top/cover;
    }

    /* 로고 위치 재설정 */
    .logo {
        transform: scale(.7);
        margin-left: -50px;
    }

    /* BGM 위치 변경 */
    .bgm {
        margin-left: 400px;
    }

    .bgm .play a,
    .bgm .pause a {
        left: 0;
    }

    /* GNB 메뉴 위치 재설정 */
    .gnb {
        margin-left: -40px;
        width: 500px;
    }

    .gnb>ul {
        width: 480px;
    }

    .gnb>ul>li {
        padding: 0 10px;
    }

    .dlc {
        display: none;
    }

    .cont {
        margin-top: 4vh;
        height: 80vh;

    }

    .top {
        right: 2px;
        transform: scale(.8);
    }
}

/******** 800px 이하 미디어쿼리 ********/
@media screen and (max-width:800px) {

    /* 전체 영역 축소 */
    #top,
    #main {
        width: 700px;
    }

    /* 배경이미지 크기조절 */
    body {
        background: url(../img/acnh01.png) no-repeat scroll 5% 65%/0px,
            url(../img/acnh02.png) no-repeat scroll 95% 23%/0px,
            /* 왼쪽 */
            url(../img/acnh09.png) no-repeat scroll 2% 93%/130px,
            /* 오른쪽 */
            url(../img/acnh14.png) no-repeat scroll 98% 97%/130px,
            url(../img/bg.jpg) no-repeat scroll top/cover;
        overflow-x: hidden;
    }

    /* 로고 위치 재설정 */
    .logo {
        transform: scale(.7);
        margin-left: -50px;
    }

    /* BGM 위치 변경 */
    .bgm {
        margin-left: 400px;
    }

    .bgm .play a,
    .bgm .pause a {
        left: 0;
    }

    /* GNB 메뉴 위치 재설정 */
    .gnb {
        margin-left: -40px;
        width: 500px;
    }

    .gnb>ul {
        width: 480px;
    }

    .gnb>ul>li {
        padding: 0 10px;
    }

    .dlc {
        display: none;
    }

    .cont {
        margin-top: 4vh;
        height: 80vh;

    }

    /* 설명글 내려옴 */
    .cbx:hover .cdes {
        height: 200px;
    }

    .top {
        right: 2px;
        transform: scale(.8);
    }
}

/******** 600px 이하 미디어쿼리 ********/
@media screen and (max-width:600px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    body {
        background: url(../img/acnh01.png) no-repeat scroll 30% 65%/0px,
            url(../img/acnh02.png) no-repeat scroll 78% 23%/0px,
            /* 왼쪽 */
            url(../img/acnh09.png) no-repeat scroll 2% 95%/130px,
            /* 오른쪽 */
            url(../img/acnh14.png) no-repeat scroll 98% 97%/130px,
            url(../img/bg.jpg) no-repeat scroll top/cover;
    }

    /* 전체 영역 축소 */
    #top,
    #main {
        width: 100%;
    }

    /* 로고 위치 재설정 */
    #top {
        margin: 0 auto;
    }

    .logo {
        display: block;
        transform: scale(1);
        margin: 0 auto;
        margin-top: 20px;
    }

    .eshop {
        top: 230px;
    }

    /* BGM 위치 변경 */
    .bgm {
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
        top: 0;
        height: 30px;
    }

    .bgm .play a,
    .bgm .pause a {
        left: 0;
    }

    /* 햄버거버튼 */
    .ham {
        display: inline-block;
    }

    /* 상단영역 .top에 클래스 on 적용 시 버튼 변경 */
    .headTop.on .ham::before {
        content: '×';
        color: #fff;
    }

    /* 상단영역에 클래스 on 적용 시 버튼 고정 */
    .headTop.on .ham {
        position: fixed;
        margin-right: 20px;
        top: 10px;
        transform: scale(1.5);
    }

    /* GNB 숨김 */
    .gnb {
        display: none;
    }

    /* GNB 디자인 변경 */
    .gnb {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin-left: 0px;
        background: rgba(13, 73, 50, 0.7);
        box-shadow: none;
        border-radius: 0px;
    }

    .gnb>ul {
        width: 100%;
        margin-top: 30vh;
        /* 리스트가 30% 이므로 나머지 70%의 절반을 밀어주면 수직중앙 */
    }

    .gnb>ul>li {
        float: none;
        /* float 없애서 세로로 배치 */
        text-align: center;
    }

    .gnb>ul>li>a {
        font-size: 4vh;
        line-height: 10vh;
        color: #fff;
        border: none;
        /* 메뉴가 6개이므로 보이는 높이값 화면의 30% */
    }

    /* 오버 시 하단 보더 삭제 */
    .gnb>ul>li>a:hover {
        border: none;
    }

    .gnb>ul>li:hover>a {
        border: none;
    }

    /* 상단영역 클래스 설정변경 */
    .headTop.on .gnb {
        display: block;
    }

    .cbx {
        margin-right: 0;
        margin-top: 10px;
    }

    .cont {
        width: 200px;
        height: auto;
        margin-bottom: 100px;
    }

    /* 아이콘 위치 재배치 */
    .cdes::before {
        right: 60px;
    }

    .info {
        display: none;
    }

    #info {
        width: 100%;
    }

    .mInfo {
        display: block;
        width: 171px;
    }

}